#outer-container
{
    width: 600px;
    margin: 0 auto;
}

#container
{
    background-color: rgba(195, 181, 24, 0.456);
    height: 150px;
    width: auto;
    border-radius: 6px;
    margin: auto;
    padding: 10px;
}

#header
{
    font-size: 40px;
    text-align: center;
    color: rgba(53, 56, 29, 0.6);
}

.underheader
{
    font-size: 25px;
    text-align: center;
    color: rgba(53, 56, 29, 0.6);
}

#linkholder
{
    background-color: white;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}